@import url("base.css");

/*start header*/
.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    flex-wrap: wrap;
    background-color: #fff;
    z-index: 9;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.logo img {
    width: 27px;
    height: 30px;
}

.nav a {
    color: black;
}

.active {
    font-weight: 700;
}

.header .auth a {
    font-family: var(--subfont);
    padding: 5px 20px;
    border-radius: 4px;
}

.header .auth a:first-of-type {
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
}

.header .auth a:last-of-type {
    border: 1px solid var(--maincolor);
    color: #fff;
    background-color: var(--maincolor);
}

.bars-menu {
    display: none;
}

@media(max-width:930px) {
    .nav {
        display: none;
    }

    .bars-menu {
        display: inline-block;
        order: 1;
    }

    .auth {
        display: none;
    }

    .container {
        width: calc(100% - 40px);

    }

}

@media(max-width:400px) {

    /* .container {
        width: calc(100% - 40px);
         
    }*/
    .logo a {
        display: none;
    }
}

@media(max-width:2560px) {
    .hero {
        background-size: cover;
    }

}

/*end header*/

/* start hero */
.hero::before {
    content: '';
    position: absolute;
    top: 53%;
    left: 55%;
    transform: translateX(-50%);
    width: 1368px;
    z-index: -1;
    height: 470px;
    background-color: #F5F5F5;
}

.hero {
    padding: 50px 0;
}


.hero-begin {
    width: 400px;

}

.hero-begin .begin {
    color: var(--maincolor);
}


.hero-begin .begin span {
    font-weight: bold;
    color: var(--maincolor);
}


.hero-begin p {
    color: #969696;
    padding-top: 10px;
    padding-bottom: 15px;
}

.hero-begin h1 {
    font-size: 47px;
}

.hero-begin h1 span {
    color: var(--maincolor);
}

.hero-button .row {

    justify-content: flex-start;
    gap: 25px;
}

.hero-button .register {
    border: 1px solid var(--maincolor);
    color: #fff;
    background-color: var(--maincolor);
    font-family: var(--subfont);
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 4px;
}

.hero-button .playvideo {
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    font-weight: 600;
}


.hero-right-side img {
    width: 329px;
    height: 344px;
}

/*end hero */

/*start about*/

.about .row {
    padding: 20px 0;
}

.about-get {
    flex-basis: 400px;
}

.about-get span {
    color: var(--maincolor);

}

.about-get h2 {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-get p {
    color: #969696;
}

.about-info {
    padding-top: 10px;
    font-size: 11px;
    position: relative;
}

.about-info .row {
    gap: 10px;
}

.professional-teacher,
.course-certificate,
.interesting-learning {
    background-color: var(--maincolor);
    border-radius: 10px;
    width: 175px;
    height: 175px;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.professional-teacher img,
.course-certificate img,
.interesting-learning img {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 4px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-info h3 {
    color: #fff;
    margin-top: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.about-info p {
    color: #DDDDDD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.arrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

/*end about*/

/*start stats */
.stats {
    background-color: var(--maincolor);
    padding: 30px 105px;
}

.stats .row {
    gap: 60px;
}

.stats-course {
    flex-basis: 400px;
}

.stats-course span {
    color: var(--subcolor);

}

.stats-course p {
    width: 42%;
}


.stats-left-side img {
    width: 329px;
    height: 344px;

}

.stats-right-side {
    flex-grow: 1;
}

.stats-course h2 {
    color: #fff;
    font-size: 40px;
}

.stats-course p {
    color: #DDDDDD;

}

.stats-info .stat {
    text-align: center;
    color: #DDDDDD;
    padding-top: 20px;
}

.stats-info .stat span {
    color: var(--subcolor);
    font-weight: 600;

}

.stats-info .row {
    justify-content: flex-start;
    gap: 94px;

}


/*end stats*/

/*start courses*/
.courses {
    padding: 40px 0px;
    background-color: #fff;
}

.courses .row {
    gap: 10px;
    align-items: flex-start;

}

.course-item {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
    gap: 20px;
    flex-basis: 690px;

}

.course {
    width: calc((100% - 20px) / 2);
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
}

.course-card {
    position: relative;
}

.course-details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
}

.course-details .row {
    justify-content: space-around;
}

.course-details .row:first-of-type span {
    color: var(--maincolor);


}

.course-details .row:last-of-type {
    justify-content: flex-start;
    padding: 0 10px;
}


.course-description {
    margin-top: 25px;
    justify-content: center;
    width: calc((100% - 616px) / 2);
    flex-basis: 400px;


}

.course-description span {
    color: var(--maincolor);
}

.course-description h2 {
    font-size: 43px;
    line-height: 51px;
}

.course-description p {
    color: #969696;
    margin-bottom: 10px;


}

.course-description a:last-of-type {
    border: 1px solid var(--maincolor);
    color: #fff;
    background-color: var(--maincolor);
    text-decoration-thickness: 10px;
}

.course-description a {
    font-family: var(--subfont);
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.course-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    filter: brightness(60%);
}

.course-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.course-info span:first-of-type {
    background-color: var(--maincolor);
    padding: 10px;
}

.course-info span:last-of-type {
    color: #fff;
    font-size: 20px;
    align-self: flex-end;
}

@media (max-width:600px) {
    .course-info {
        font-size: 9px;
        padding: 0;

    }

}

/*end courses*/

/*start testimonials*/
.testimonials {
    text-align: center;
    padding: 40px 0;
}

.testimonials h2 {
    margin-bottom: 30px;
}

.testimonials .row {
    gap: 40px;

}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    flex-basis: 400px;
    align-items: flex-start;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    flex-grow: 1;
}

.testimonial:after {
    content: '';
    border-top: 40px solid #F4F4F4;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.testimonial .user-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial .user-info .user-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.testimonial .user-info .user-data span {
    font-size: 12px;
    color: #969696;
}

.testimonial .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.testimonial q {
    color: #646464;
}

.testimonial blockquote p {
    display: inline-block;
    padding: 0 3px;
}

/*end testimonials*/



/*start footer*/
.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;

}

.footer .row {
    gap: 40px;
}

.footer .footer-left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: 400px;
    flex-grow: 1;
}

.footer .footer-left-side .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer .footer-left-side .logo img {
    width: 35px;
}

.footer .footer-left-side .logo a {
    color: #fff;
    font-size: 14px;
}

.footer .footer-left-side p {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

.footer .footer-left-side .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.footer .footer-left-side .icons img {
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
}

.footer-right-side {
    flex-grow: 1;
}

.footer-right-side .row {
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-right-side .footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-right-side .footer-item ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

@media (max-width: 400px) {
    .footer-left-side {
        text-align: center;
        align-items: center;
    }
}

/*end footer*/